NODE_ENV=development
LOG_LEVEL=debug
RABBITMQ_URL=amqp://admin:admin@localhost:5672
SMTP_HOST=localhost
SMTP_PORT=1025
EMAIL_FROM=notifications@example.com
MAX_RETRIES=3
PREFETCH_COUNT=1
EMAIL_SEND_DELAY_MS=2000
